*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("img.jpg");
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container-cron{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border:1px solid #000;
    height: 50%;
    width: 321px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 15px rgba(235, 37, 37, 0.089);
    
}
.buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 5px;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(105, 14, 14, 0.295);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    width: 90px;
}

button:hover{
     background-color: rgba(219, 16, 16, 0.295);
}
button:active{
    background-color: rgba(248, 19, 19, 0.295);
}